<h1>OUR WAREHOUSES</h1>
<div *ngIf="(warehouseItems$ | async); let warehouses">
  <div *ngFor="let warehouse of warehouses; index as i">
    {{warehouse.country}}, {{warehouse.city}}, {{warehouse.houseNumber}}
  </div>
</div>
