<div
  *ngFor="let field of field?.fieldGroup; let i = index"
  class="row"
  [attr.data-testing-id]="'quickorder-line-' + i"
  ishProductContext
>
  <formly-field class="col-6" [field]="field"></formly-field>
  <ish-quickorder-repeat-form-quantity
    class="col-3 col-sm-2 quickorder-line-item"
    [model]="model[i]"
    [skuControl]="field.formControl"
  ></ish-quickorder-repeat-form-quantity>
  <div class="col-3 col-sm-2 d-flex quickorder-line-item">
    <a class="btn btn-tool" (click)="remove(i)" title="{{ 'quickorder.page.remove.row' | translate }}">
      <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
    </a>
  </div>
</div>
<div class="section d-flex flex-nowrap">
  <a (click)="add()" data-testing-id="add-quickorder-line">{{ to?.addText | translate }}</a>
  <span class="link-separator"></span>
  <a (click)="addMultipleRows(to?.numberMoreRows)">{{ to?.addMoreText | translate: { '0': to?.numberMoreRows } }}</a>
</div>
